body {
  background-color: #F2F2F0 !important;
}
/*.famfamfam-flags {
    display: inline-block;
}*/
a {
  cursor: pointer;
}
.mall-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #393D49;
  border-right: 1px solid #393D49;
  border-radius: 0;
  background-color: #393D49;
}
.mall-header .layui-logo {
  line-height: 60px;
  font-size: 16px;
  width: 120px;
  height: 100%;
  color: white;
}
.mall-category {
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 50px;
  line-height: 50px;
}
.mall-category ul li {
  position: relative;
  display: inline-block;
  height: 50px;
}
.mall-category ul li a {
  padding: 0 20px;
}
.mall-category .category-first a {
  color: #5FB878;
}
/*商品列表*/
.mall-item {
  background-color: #fff;
  border: 1px solid #F2F2F0;
  width: 200px;
  height: 220px;
  box-sizing: border-box;
  box-shadow: 3px 4px 3px #F2F2F0;
}
.mall-item .p-img {
  height: 150px;
  width: auto;
}
.mall-item .p-title {
  height: 40px;
  width: auto;
  border-bottom: 1px solid #ffd800;
  border-top: 1px solid #ffd800;
  font-size: 12px;
  padding: 4px 10px;
  box-sizing: border-box;
  color: grey;
}
.mall-item .p-price {
  font-size: 16px;
  color: orangered;
  text-align: left;
  vertical-align: middle;
  font-weight: 900;
  padding: 4px 10px;
  box-sizing: border-box;
}