@using Mall.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.Mall;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/js/views/home/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/views/home/index.min.js"></script>
    </environment>


}





<!----------放置商品分类------------->
<div class="mall-category">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="category-first"><a>首页</a></li>
            <li><a>运动类</a></li>
            <li><a>运动类</a></li>
            <li><a>运动类</a></li>
        </ul>
    </div>
</div>

<div class="layui-container">
    <div class="layui-row ">
        <div class="layui-col-md9">
            <div class="layui-row">
                <div class="layui-col-md3">
                    <div class="mall-item">
                        <div class="p-img"></div>
                        <div class="p-title">吹风机</div>
                        <div class="p-price">1000￥</div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="mall-item">
                        <div class="p-img"></div>
                        <div class="p-title">吹风机</div>
                        <div class="p-price">1000￥</div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="mall-item">
                        <div class="p-img"></div>
                        <div class="p-title">吹风机</div>
                        <div class="p-price">1000￥</div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="mall-item">
                        <div class="p-img"></div>
                        <div class="p-title">吹风机</div>
                        <div class="p-price">1000￥</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="layui-colla-item layui-bg-red">
                <h2 class="layui-colla-title">杜甫</h2>
                <div class="layui-colla-content layui-show">内容区域</div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    layui.use('element', function () {

        var tab = layui.element;

        var eletement = layui.element;
    });
</script>